/* 

This CSS file is contains the CSS rule sets for 
    - index.html
    - any universal elements that all pages use

The CSS for the take-action.html is in take-action.css

*/

/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

/* TODO: Customize your font properties and background color for all elements inside the <body> and <html> tags */
body,
html {
  height: 100%;
  font-size: 20px; /* Change the font size*/
  font-family: "Barlow Semi Condensed", sans-serif; /* Change the font */
  line-height: 1.5em; /* Change the line height size*/
  margin: 0em;
  color: black; /* Change the font color*/
  background-color: #FFD6EA; /* Change the background color */
  box-sizing: border-box;
}

h1 {
  margin: 2%;
  color: black;
  font-size: 50px;
  text-align: center;
  letter-spacing: 5px;
  line-height: 60px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #fd9ccbff;
  border: 2px solid #FFEFFC;
}

/*TODO: Change the font-family property to your linked font*/
h2 {
  letter-spacing: 3px;
  font-size: 25px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: black;
  text-align: center;
  line-height: 1.3em;
  
}

/*TODO: Change the color of a link when a person hovers over it*/
p a {
  color: #FFD6EA;
  text-decoration: none;
  
}

/************************************************/
/*************** CSS FOR NAV BAR ****************/
/************************************************/

/* All of these TODOs are optional. You should change the styling based on your mockup */

/* TODO (optional): Change the background color and/or border style */

ul.nav-bar {
  /* Styling for the <ul class="nav-bar"> element */
  list-style-type: none;
  margin: 0;
  padding: 3px 5px;
  overflow: hidden;
  background-color: #FFD6EA;
  border-style: solid;
  border-color: white;
}

/* TODO (optional): Change the font size*/

li.nav {
  /* Styling for the <li class="nav"> element */
  float: right;
  font-size: 20px;
}

/* TODO (optional): Change the font color, decoration, and/or case */

li.nav a {
  /* Styling for the <a> elements in <li class="nav"> */
  display: block;
  color: black;
  /* change border/font color to be consistent and neutral   */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* TODO (optional): Change the background color and/or font color when the mouse hovers over an item */

li.nav a:hover {
  /* Styling for the <a> elements when the mouse is hovering in <li class="nav"> */
  background-color: #FFD6EA;
  color: white;
}

/************************************************/
/*********** CSS FOR FLEXBOX HEADING ************/
/************************************************/

/* TODO: Review the CSS properties to the flexbox container for title and intro text */
.flex-container-abortion {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 45em;
  width: 100%;

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the heading (the left box) */

/* TODO: Review the CSS properties to the flex item for the intro text (the right box) */
.intro-text-abortion {
  
  background-color: #FD9CCB;
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}

/*Debugging Tip: Uncomment the line below to see the outline of the container*/
/*border-style: dotted;*/

/************************************************/
/*************** PARALLAX SCROLL ****************/
/************************************************/

/*-----------TEXT SECTIONS-----------*/

/* TODO (optional): Change the background color and/or text alignment */

.text-section {
  background-color: #FD9CCB;
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}

/*---------IMAGE STYLING + PARALLAX PROPERTY---------*/

/* TODO: Add the CSS selector for each image to the collective image rule set */

.main-message-abortion,
.image-one-abortion {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #43d6b9ff;
  background-size: cover;
  min-height: 100%; /* This adjusts the height of the image */

  /* TODO: Add the property to create the parallax scrolling effect here */
}

/* TODO: Replace the current image URL with your own. This is the top image on your homepage. */
.main-message-abortion {
  background-image: url("https://cdn.glitch.com/eb615d20-f1f4-4443-bd45-85e1d5bde77b%2Fkitten.jpg?v=1589124083210");
}

/* TODO: Replace the current image URL with your own */
.image-one-abortion {
  background-image: url("https://cdn.glitch.com/eb615d20-f1f4-4443-bd45-85e1d5bde77b%2Fpuppy.jpg?v=1589146535603");
}

/* TODO: Add a second background image. Make sure you add this class selector to the collective image rule set above */

/* TODO: Add more background images by repeating the process above */

/*-----------IMAGE ATTRIBUTIONS (if required)-----------*/
.attributions {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

/******************************************************/
/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
/******************************************************/

/* TODO: Add a breakpoint if the screen is 700px or less */

/* TODO: Add additional breakpoints based on your website's design*/
