/* 

This CSS file is contains the CSS rule sets for 
    - index.html
    - any universal elements that all pages use

The CSS for the take-action.html is in take-action.css

*/

/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

/* TODO: Customize your font properties and background color for all elements inside the <body> and <html> tags */
body,
html {
  height: 100%;
  font-size: 20px; /* Change the font size*/
  font-family: "Barlow Semi Condensed", sans-serif; /* Change the font */
  line-height: 1.5em; /* Change the line height size*/
  margin: 0em;
  color: black; /* Change the font color*/
  background-color: #FFD6EA; /* Change the background color */
  box-sizing: border-box;
}

h1 {
  margin: 2%;
  color: black;
  font-size: 50px;
  text-align: center;
  letter-spacing: 5px;
  line-height: 60px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #fd9ccbff;
  border: 2px solid #FFEFFC;
}

/*TODO: Change the font-family property to your linked font*/
h2 {
  letter-spacing: 3px;
  font-size: 25px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: black;
  text-align: center;
  line-height: 1.3em;
}

h3{
  width: 200px;
  border: 15px;
  padding: 10px;
  margin: 20px;
}

p {
  width: 500px;
  border: 15px;
  padding: 50px;
  margin: 20px;
}

/*TODO: Change the color of a link when a person hovers over it*/
p a {
  color: #FFD6EA;
  text-decoration: none;
}

/************************************************/
/*********** CSS FOR FLEXBOX HEADING ************/
/************************************************/

/* TODO: Review the CSS properties to the flexbox container for title and intro text */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 45em;
  width: 100%;

  /* Design properties */
  background-color: #fd9ccbff;
  padding: 5px;

  /* Positioning properties */
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%; /* Change this value to move the box up or down */

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the intro text (the right box) */
.intro-text {
  background-color: #FFD6EAFF; /* Add your own background color */
  padding: 4%;
  margin: 2%;
  margin-left: 1px;
  color: black; /* Add the color of your font */
  font-size: 20px; /* Add your font size*/
  letter-spacing: 2px; /* Adds space between letters */
  line-height: 1.4em; /* Adds space between lines */
  text-align: center;
  font-family: "Jaldi", sans-serif;

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/************************************************/
/*************** PARALLAX SCROLL ****************/
/************************************************/

/*-----------TEXT SECTIONS-----------*/

/* TODO (optional): Change the background color and/or text alignment */

.text-section-menstrual {
  background-color: #FD9CCB;
  padding: 20px 45px;
  margin: 35px;
  text-align: left;
}

.menstrual-taxes-text {
  width: 700px;
  border: 15px;
  padding: 75px;
  margin: 20px;
  margin: 8px;
  color: black; 
  font-size: 20px; 
  letter-spacing: 2px; 
  line-height: 1.4em; 
  text-align: left;
  font-family: "Jaldi", sans-serif;
  display: flex;
  width: 600px;
  position: relative; bottom: -90px;
}
.menstrual-taxes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
 
}
.menstrual-taxes-img {
  display: flex;
  margin: 50px;
  float:right;
  position: relative; top: 90px;
  padding:8px;
  border: 8px solid white;
  border-radius:0%;
  
}


.menstrual-change {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around; 
}
.menstrual-change-text {
  width: 700px;
  border: 15px;
  padding: 75px;
  margin: 20px;
  color: black; 
  font-size: 20px; 
  letter-spacing: 2px; 
  line-height: 1.4em; 
  text-align: left;
  font-family: "Jaldi", sans-serif;
  display: flex;
  width: 600px;
  position: relative; bottom: -100px; left: -30px;
}

.menstrual-change-img {
  display: flex;
  margin: 50px;
  float:right;
  position: relative; top: 100px; right: 0px;
  border: 8px solid white;
  border-radius:0%;
} 



/*---------IMAGE STYLING + PARALLAX PROPERTY---------*/

/* TODO: Add the CSS selector for each image to the collective image rule set */

.main-message-menstrual-products,
.image-one-menstraul-products {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #43d6b9ff;
  background-size: cover;
  min-height: 100%; /* This adjusts the height of the image */

  /* TODO: Add the property to create the parallax scrolling effect here */
}

/* TODO: Replace the current image URL with your own. This is the top image on your homepage. */
.main-message-menstrual-products {
  background-image: url("https://cdn.glitch.com/eb615d20-f1f4-4443-bd45-85e1d5bde77b%2Fkitten.jpg?v=1589124083210");
}

/* TODO: Replace the current image URL with your own */
.image-one-menstrual-products {
  background-image: url("https://cdn.glitch.com/eb615d20-f1f4-4443-bd45-85e1d5bde77b%2Fpuppy.jpg?v=1589146535603");
}

/* TODO: Add a second background image. Make sure you add this class selector to the collective image rule set above */

/* TODO: Add more background images by repeating the process above */

/*-----------IMAGE ATTRIBUTIONS (if required)-----------*/
.attributions {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

/******************************************************/
/** CHANGE TAKE-ACTION.HTML CSS BASED ON SCREEN SIZE **/
/******************************************************/

/* IF THE SCREEN IS ~~700 OR LESS~~ IMPLEMENT THESE RULES */

@media only screen and (max-width: 700px) {
  .flex-container-action {
    flex-wrap: wrap;
  }
}

/* IF THE SCREEN IS ~~701 OR MORE~~ IMPLEMENT THESE RULES */

@media only screen and (min-width: 702px) {
  .flex-container-action {
    flex-wrap: wrap;
  }

  .left-container {
    width: 50%;
    margin-right: 10%;
  }
}

/* IF THE SCREEN IS ~~1000 OR MORE~~ IMPLEMENT THESE RULES */
@media only screen and (min-width: 1000px) {
  .flex-container-action {
    flex-wrap: nowrap;
  }
}

/* IF THE SCREEN IS ~~1250 OR MORE~~ IMPLEMENT THESE RULES */
@media only screen and (min-width: 1250px) {
  .flex-container-action {
    flex-wrap: nowrap;
  }

  #list-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px 20px 40px 40px;
  }

  .left-container {
    width: 50%;
    margin-right: 10%;
  }
}

/* TODO: Add a breakpoint if the screen is 700px or less */

/* TODO: Add additional breakpoints based on your website's design*/
