/* 

This CSS file is contains the CSS rule sets for 
    - index.html
    - any universal elements that all pages use

The CSS for the take-action.html is in take-action.css

*/

/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

/* TODO: Customize your font properties and background color for all elements inside the <body> and <html> tags */
body,
html {
  height: 100%;
  font-size: 20px; /* Change the font size*/
  font-family: "Barlow Semi Condensed", sans-serif; /* Change the font */
  line-height: 1.5em; /* Change the line height size*/
  margin: 0em;
  color: black; /* Change the font color*/
  background-color: #fd9ccbff; 
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  /*TODO: Change the font-family property to your linked font*/
  font-family: "Barlow Semi Condensed", sans-serif;
  color: black;
  text-align: center;
}

/*TODO: Change the font-family property to your linked font*/
h2 {
  letter-spacing: 3px;
  font-size: 25px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: black;
  text-align: center;
  line-height: 1.3em;
}

/*TODO: Change the color of a link when a person hovers over it*/
p a {
  color: black;
  text-decoration: none;
}

/************************************************/
/*************** CSS FOR NAV BAR ****************/
/************************************************/


ul.nav-bar {
  /* Styling for the <ul class="nav-bar"> element */
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #FFD6EA;
  border-style: solid;
  border-color: #FFEFFC;
}


li.nav {
  float: right;
  font-size: 15px;
}


li.nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}


li.nav a:hover {
  background-color: #FFD6EA;
  color: white;
}

/************************************************/
/*********** CSS FOR FLEXBOX HEADING ************/
/************************************************/

.flex-container {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  flex-wrap:nowrap;
  align-items: center;

  /* Design properties */
  background-color: #fd9ccbff;
  padding: 10px;
  border: 6px solid #FFEFFC;

  /* Positioning properties */
  position: absolute;
  left:10%;
  right: 10%;
  top: 40%; 
width:20px;
  width:100%;
}


.heading-home {
  padding: 4%;
  margin:2%;
  color: black;
  font-size: 50px;
  text-align:center;
  letter-spacing: 10px;
  line-height: 60px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color:#ffd6eaff;
  border: 2px solid #FFEFFC;
  width:100%;
}

.intro-text {
  background-color: #ffd6eaff; 
  padding: 4%;
  margin: 2%;
  margin:20px;
  color: black; 
  font-size: 20px; 
  letter-spacing: 2px;
  line-height: 1.4em;
  text-align: center;
  font-family: 'Jaldi', sans-serif;
  border: 2px solid #FFEFFC;
  display:flex;
  width:100%;
  
}

/************************************************/
/*************** PARALLAX SCROLL ****************/
/************************************************/

/*-----------TEXT SECTIONS-----------*/

/* TODO (optional): Change the background color and/or text alignment */

.text-section {
  background-color: #ffd6eaff;
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}

/*---------IMAGE STYLING + PARALLAX PROPERTY---------*/

/* TODO: Add the CSS selector for each image to the collective image rule set */

.main-message,
.image-one, 
.image-two,
.image-three,
.image-four{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fd9ccbff;
  background-size: cover;
  min-height: 100%; 
 

  background-attachment:fixed;
  
  /* TODO: Add the property to create the parallax scrolling effect here */
  
}


.main-message {
  background-image: url("https://cdn.glitch.com/52006f80-aea3-4604-8d40-e1ccf71deace%2FScreen%20Shot%202020-07-14%20at%201.11.00%20PM.png?v=1594747549218");
}


.image-one {
  background-image: url("https://cdn.glitch.com/52006f80-aea3-4604-8d40-e1ccf71deace%2FScreen%20Shot%202020-07-14%20at%201.11.17%20PM.png?v=1594747552546");
}

.image-two {
  background-image: url("https://cdn.glitch.com/52006f80-aea3-4604-8d40-e1ccf71deace%2FScreen%20Shot%202020-07-14%20at%203.57.34%20PM.png?v=1594756721584");
}

.image-three {
  background-image: url("https://cdn.glitch.com/52006f80-aea3-4604-8d40-e1ccf71deace%2F3413820.png?v=1594747546363");
}

.image-four {
  background-image: url("https://cdn.glitch.com/52006f80-aea3-4604-8d40-e1ccf71deace%2FScreen%20Shot%202020-07-14%20at%201.11.57%20PM.png?v=1594747558205");
}

/*-----------IMAGE ATTRIBUTIONS (if required)-----------*/
.attributions {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
  font-color: black;
}

/******************************************************/
/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
/******************************************************/



@media screen and (max-width:700px){
  
  
  
  .flex-container{
  flex-wrap: wrap;
  top:20%;
  
}
  

